<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WProject.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WProject.Library.Properties.Settings>
            <setting name="MysqlServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MysqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MysqlDatabase" serializeAs="String">
                <value>wproject</value>
            </setting>
            <setting name="MysqlUser" serializeAs="String">
                <value>wproject</value>
            </setting>
            <setting name="MysqlPassword" serializeAs="String">
                <value>wPr0j3cT</value>
            </setting>
        </WProject.Library.Properties.Settings>
    </applicationSettings>
</configuration>