@font-face{
    font-family: "Segoe Ui Semilight";
    src: url('../Resources/Fonts/segoeuisl.ttf'),
    url('../Resources/Fonts/segoeuisl.ttf'); /* IE */
}

.titleBar 
{
    background-color: #9c27b0;
    width: 100%;
    height: 8px;
}

.centerInDiv
{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}
